<app-catalog></app-catalog>
<h2>Admin Products Dashboard</h2>
<ul>
  <li *ngFor="let product of products">
    {{ product.name }} - {{ product.price }} 
    <button (click)="editProduct(product)">Edit</button>
    <button (click)="deleteProduct(product.id)">Delete</button>
  </li>
</ul>

<div *ngIf="editingProduct">
  <h3>Edit Product</h3>
  <input [(ngModel)]="editingProduct!.name" placeholder="Name" />
  <input [(ngModel)]="editingProduct!.price" placeholder="Price" type="number" />
  <button (click)="updateProduct()">Update</button>
  <button (click)="editingProduct = null">Cancel</button>
</div>

<h3>Add Product</h3>
<input [(ngModel)]="newProduct.name" placeholder="Name" />
<input [(ngModel)]="newProduct.price" placeholder="Price" type="number" />
<button (click)="addProduct()">Add</button>