<h2>Admin Products Dashboard</h2>



<h3>Add Product</h3>
<input [(ngModel)]="newProduct.name" placeholder="Name" />
<input [(ngModel)]="newProduct.description" placeholder="description" type="text" />
<input [(ngModel)]="newProduct.price" placeholder="Price" type="number" />
<input [(ngModel)]="newProduct.stock" placeholder="Stock" type="number" />
<input [(ngModel)]="newProduct.categoryId" placeholder="CategoryID" type="number" />
<button (click)="addProduct()">Add</button>

<h3>Enter ID of item to delete</h3>
<input [(ngModel)]="delProduct.id" placeholder="ID" type="number" />
<button (click)="deleteProduct()">Delete</button>


  <div class="editBox">
<span class="editCard"*ngFor="let product of products"> {{ product.name }} - id: {{ product.id }} 
  
    <button (click)="editProduct(product)">Edit</button> </span> 
 

  </div>
<div>
  @if (editingProduct) {
<h3>Editing Product: {{editingProduct.id}} </h3>
  <span>Name: </span><input [(ngModel)]="editingProduct.name" placeholder="Name" />
  <span>Price: </span><input [(ngModel)]="editingProduct.price" placeholder="Price" type="number" />
  
  <button (click)="updateProduct()">Update</button>
  <button (click)="editingProduct = null">Cancel</button>
  }
  
</div>

  
<app-catalog></app-catalog>



