<h2>Admin Products Dashboard</h2>
 <ul>
  <li *ngFor="let product of products"> {{ product.name }} - {{ product.price }} 
    <button (click)="editProduct(product)">Edit</button> </li> 
    <div>
  @if (editingProduct) {
<h3>Edit Product</h3>
  <input [(ngModel)]="editingProduct.name" placeholder="Name" />
  <input [(ngModel)]="editingProduct.price" placeholder="Price" type="number" />
  
  <button (click)="updateProduct()">Update</button>
  <button (click)="editingProduct = null">Cancel</button>
  }
  
</div>
  </ul>


<h3>Add Product</h3>
<input [(ngModel)]="newProduct.name" placeholder="Name" />
<input [(ngModel)]="newProduct.description" placeholder="description" type="text" />
<input [(ngModel)]="newProduct.price" placeholder="Price" type="number" />
<input [(ngModel)]="newProduct.stock" placeholder="Stock" type="number" />
<input [(ngModel)]="newProduct.categoryId" placeholder="CategoryID" type="number" />
<button (click)="addProduct()">Add</button>

<h3>Enter ID of item to delete</h3>
<input [(ngModel)]="delProduct.id" placeholder="ID" type="number" />
<button (click)="deleteProduct()">Delete</button>
<app-catalog></app-catalog>



